<div class="experiencia" id="experiencia">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1>Experiencia</h1>
      </div>
    </div>

    <li *ngFor="let experiencia of experienciaList">
      <div class="row">          
        <div class="col-sm-12 col-lg-1"> 
          <img class="img-fluid" [src]="experiencia.logo" alt="Conicet">                                 
        </div>    
        <div class="col-sm-12 col-lg-7">
          <h2>{{experiencia.nombre}}</h2> 
          <h3>{{experiencia.lugar}}</h3>      
        </div>  
        <div class="col-sm-12 col-lg-4">
          <h4>{{experiencia.fecha}}</h4>              
        </div> 
      </div>
      <div class="row descripcion">
        <div class="col-sm-12 col-md-11 offset-md-1">
          <p>{{experiencia.d1}}</p>
          <p>{{experiencia.d2}}</p>
          <p>{{experiencia.d3}}</p>
          <p>{{experiencia.d4}}</p>
          <p>{{experiencia.d5}}</p>
          <p>{{experiencia.d6}}</p>
          <p>{{experiencia.d7}}</p>
        </div>
      </div>
    </li>

  </div>
</div>